services:
  traefik:
    image: traefik:v3.6.7
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - montra_net

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: montra_db
      POSTGRES_USER: montra_user
      POSTGRES_PASSWORD: montra_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - montra_net

  migrate:
    build: .
    depends_on:
      - db
    environment:
      POSTGRES_DB: montra_db
      POSTGRES_USER: montra_user
      POSTGRES_PASSWORD: montra_pass
      POSTGRES_HOST: db
      POSTGRES_PORT: "5432"
      DJANGO_SECRET_KEY: "django-insecure-=jqx=1*u8ws909jm-dtp4wlw^8@5pcv$2)no-71%pb3=b83_!u"
      DJANGO_DEBUG: "1"
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      python manage.py seed_categories
      "
    networks:
      - montra_net
    restart: "no"

  seed_faker:
    build: .
    depends_on:
      - db
      - migrate
    environment:
      POSTGRES_DB: montra_db
      POSTGRES_USER: montra_user
      POSTGRES_PASSWORD: montra_pass
      POSTGRES_HOST: db
      POSTGRES_PORT: "5432"
      DJANGO_SECRET_KEY: "django-insecure-=jqx=1*u8ws909jm-dtp4wlw^8@5pcv$2)no-71%pb3=b83_!u"
      DJANGO_DEBUG: "1"
    command: >
      sh -c "
      python manage.py generate_faker_data 20 50 200 &&
      python manage.py load_faker_data
      "
    networks:
      - montra_net
    restart: "no"

  web:
    build: .
    depends_on:
      - db
      - migrate
    environment:
      POSTGRES_DB: montra_db
      POSTGRES_USER: montra_user
      POSTGRES_PASSWORD: montra_pass
      POSTGRES_HOST: db
      POSTGRES_PORT: "5432"
      DJANGO_SECRET_KEY: "django-insecure-=jqx=1*u8ws909jm-dtp4wlw^8@5pcv$2)no-71%pb3=b83_!u"
      DJANGO_DEBUG: "1"
      ALLOWED_HOSTS: "localhost,127.0.0.1"
    command: >
      sh -c "
      gunicorn montra.wsgi:application
      --bind 0.0.0.0:8000
      --workers 2
      --access-logfile -
      --error-logfile -
      "
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.montra.rule=Host(`localhost`)"
      - "traefik.http.routers.montra.entrypoints=web"
      - "traefik.http.services.montra.loadbalancer.server.port=8000"
    networks:
      - montra_net

  spark_job:
    build:
      context: .
      dockerfile: spark/Dockerfile
    depends_on:
      - db
    environment:
      POSTGRES_DB: montra_db
      POSTGRES_USER: montra_user
      POSTGRES_PASSWORD: montra_pass
      POSTGRES_HOST: db
      POSTGRES_PORT: "5432"
    command: >
      /opt/spark/bin/spark-submit
      /opt/app/spark_jobs/monthly_category_report.py
    networks:
      - montra_net
    restart: "no"

volumes:
  postgres_data:

networks:
  montra_net:
    driver: bridge
