<tbody id="transactions-body">
    {% for t in transactions %}
    <tr>
        <td>{{ t.date }}</td>
        <td>{{ t.transaction_type }}</td>
        <td>{{ t.amount }}</td>
        <td>{{ t.category.name }}</td>
        <td>{{ t.description }}</td>
        <td>{{ t.place }}</td>
        <td>
            <a href="{% url 'transaction-edit' t.id %}">edit</a>
            |
            <a href="{% url 'transaction-delete' t.id %}">delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="7">No transactions found</td>
    </tr>
    {% endfor %}
</tbody>
